/* 何恺悦 hekaiyue 2023-06-29 */

/* 链接窗 */
#links_div {
    background-color: var(--div_secondary);
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#buttons_div {
    flex-direction: row;
}

button {
    font-size: 20px;
    font-weight:600;
}

h1 {
    margin: 0px 0px 10px 0px;   /* 上右下左 */
}