<!-- 何恺悦 hekaiyue 2023-07-01 -->
<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>词云生成</title>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/word_cloud_index.css' %}">
    </head>

    <body>
        <div id="main_div">

            <div id="user_input_div">
                
                <div id="text_div">
                    <h1>输入文本</h1>
                    <div id="text_button_div">
                        <button id="text_paste_button">粘贴</button>
                        <button id="text_clear_button">清空</button>
                    </div>
                    <textarea id="text_textarea"></textarea>
                </div>
    
                <div id="settings_div">
                    <div id="user_dict_div">
                        <h1>用户词典</h1>
                        <div id="user_dict_button_div">
                            <button id="user_dict_paste_button">粘贴</button>
                            <button id="user_dict_clear_button">清空</button>
                        </div>
                        <textarea id="user_dict_textarea"></textarea>
                    </div>
                    
                    <div id="generate_settings_div">
                        <h1>参数设置</h1>

                        <select id="type_select">
                            <option value="type_pure">纯色</option>
                            <option value="type_mask">形状</option>
                            <option value="type_bg">背景</option>
                        </select>
                        
                        <div id="settings_switch_div">

                            <!-- 纯色：词云尺寸 背景颜色 生成字颜色 -->
                            <div id="type_pure_div">
                                <ul id="type_pure_ul">

                                    <li>
                                        <label>词云尺寸：</label>
                                        <input type="number" id="pure_width"> <label>*</label> <input type="number" id="pure_height">
                                    </li> 

                                    <li>
                                        <label>背景颜色：</label>
                                        <input type="number" id="pure_bg_b">
                                        <input type="number" id="pure_bg_g">
                                        <input type="number" id="pure_bg_r">
                                    </li>
                                    
                                    </br>

                                    <li> <label>单词色相：</label> <input type="number" id="pure_h_0"> <label>~</label> <input type="number" id="pure_h_1"> </li>
                                    <li> <label>单词饱和：</label> <input type="number" id="pure_s_0"> <label>~</label> <input type="number" id="pure_s_1"> </li>
                                    <li> <label>单词亮度：</label> <input type="number" id="pure_l_0"> <label>~</label> <input type="number" id="pure_l_1"> </li>

                                </ul>
                            </div>

                            <!-- 形状：词云形状 生成字颜色 边缘属性 -->
                            <div id="type_mask_div">
                                <ul id="type_mask_ul">

                                    <li>
                                        <label>词云形状：</label>
                                        <button id="mask_default_button">默认</button>
                                        <button id="mask_select_button">上传</button> <input type="file" id="mask_select" multiple="false" accept=".jpg,.png" style="display: none;">
                                        <label id="mask_selected">default</label>
                                    </li>

                                    </br>

                                    <li>
                                        <label>背景颜色：</label>
                                        <input type="number" id="mask_bg_b">
                                        <input type="number" id="mask_bg_g">
                                        <input type="number" id="mask_bg_r">
                                    </li>

                                    </br>

                                    <li> <label>单词色相：</label> <input type="number" id="mask_h_0"> <label>~</label> <input type="number" id="mask_h_1"> </li>
                                    <li> <label>单词饱和：</label> <input type="number" id="mask_s_0"> <label>~</label> <input type="number" id="mask_s_1"> </li>
                                    <li> <label>单词亮度：</label> <input type="number" id="mask_l_0"> <label>~</label> <input type="number" id="mask_l_1"> </li>
                                    
                                    </br>

                                    <li>
                                        <label>边缘宽度：</label>
                                        <input type="number" id="mask_border_thickness">
                                    </li>

                                    <li>
                                        <label>边缘颜色：</label>
                                        <input type="number" id="mask_border_b">
                                        <input type="number" id="mask_border_g">
                                        <input type="number" id="mask_border_r">
                                    </li>

                                </ul>
                            </div>

                            <!-- 背景：词云背景 边缘属性 -->
                            <div id="type_bg_div">
                                <ul id="type_bg_ul">

                                    <li>
                                        <label>词云背景：</label>
                                        <button id="bg_default_button">还原</button>
                                        <button id="bg_select_button">上传</button> <input type="file" id="bg_select" multiple="false" accept=".jpg,.png" style="display: none;">
                                        <label id="bg_selected">default</label>
                                    </li> 

                                    </br>

                                    <li>
                                        <label>背景颜色：</label>
                                        <input type="number" id="bg_bg_b">
                                        <input type="number" id="bg_bg_g">
                                        <input type="number" id="bg_bg_r">
                                    </li>

                                    </br>

                                    <li>
                                        <label>边缘宽度：</label>
                                        <input type="number" id="bg_border_thickness">
                                    </li>

                                    <li>
                                        <label>边缘颜色：</label>
                                        <input type="number" id="bg_border_b">
                                        <input type="number" id="bg_border_g">
                                        <input type="number" id="bg_border_r">
                                    </li>

                                </ul>
                            </div>

                        </div>

                        <div> <label>生成数量：</label> <input type="number" id="generate_number"> </div>
                        <button id="apply_button">应用</button>
                        <button id="generate_button">生成</button>
                    </div>
                </div>
            </div>
            
            <div id="files_div">
                <h1>文件列表</h1>
                <div id="files_button_div">
                    <button id="selectallFile_button">全选</button>
                    <button id="downloadFile_button">下载</button>
                </div>
                <div id="files_list_div">
                    <ul id="files_ul"></ul>
                </div>
            </div>
            
            <div id="file_preview_div">
                <h1>词云预览</h1>
                <div id="file_preview_button_div">
                    <button id="last_button">上一张</button>
                    <button id="next_button">下一张</button>
                    <label id="current_frame"></label>
                </div>
                <div id="wordcloud_div">
                    <canvas id="wordcloud_canvas"></canvas>
                </div>
            </div>

            <!-- 全局状态弹窗 -->
            <div id="status_popup_div">
                <label id="status_popup_label">helloworld!</label>
            </div>

        </div>

    </body>
    <script src="{% static 'js/word_cloud_index.js' %}"></script>
</html>