<!-- 何恺悦 hekaiyue 2023-07-01 -->
<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>词云生成</title>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/word_cloud_index.css' %}">
    </head>

    <body>
        <div id="main_div">

            <div id="user_input_div">
                
                <div id="text_div">
                    <h1>输入文本</h1>
                    <div id="text_button_div">
                        <button id="text_paste_button">粘贴</button>
                        <button id="text_clear_button">清空</button>
                    </div>
                    <textarea id="text_textarea"></textarea>
                </div>
    
                <div id="settings_div">
                    <div id="user_dict_div">
                        <h1>用户词典</h1>
                        <div id="user_dict_button_div">
                            <button id="user_dict_paste_button">粘贴</button>
                            <button id="user_dict_clear_button">清空</button>
                        </div>
                        <textarea id="user_dict_textarea"></textarea>
                    </div>
                    
                    <div id="other_settings_div">
                        <h1>参数设置</h1>

                        <div id="options_div">
                            <ul id="options_ul">
                                <li>
                                    <label>词云形状：</label>
                                    <label id="current_shape">无形状</label>
                                    <button id="default_button">还原</button>
                                    <input type="file" id="select_file" multiple="false" accept=".jpg,.png" style="display: none;">
                                    <button id="select_button">上传</button>
                                </li> 
                                <li>
                                    <label>词云尺寸：</label>
                                    <input type="number" id="width" value="1920">
                                    <label>*</label>
                                    <input type="number" id="height" value="1080">
                                </li> 

                                </br>

                                <li>
                                    <label>色相：</label>
                                    <input type="number" id="h_lower" value="0">
                                    <label>~</label>
                                    <input type="number" id="h_upper" value="360">
                                </li>
                                <li>
                                    <label>饱和：</label>
                                    <input type="number" id="s_lower" value="0">
                                    <label>~</label>
                                    <input type="number" id="s_upper" value="100">
                                </li>
                                <li>
                                    <label>亮度：</label>
                                    <input type="number" id="l_lower" value="0">
                                    <label>~</label>
                                    <input type="number" id="l_upper" value="100">
                                </li>

                                </br>

                                <li>
                                    <label>单次生成：</label>
                                    <input type="number" id="generate_number"  value="1">
                                </li>

                            </ul>
                        </div>
                        
                        <button id="apply_button">应用</button>
                        <button id="generate_button">生成</button>
                    </div>
                </div>
            </div>
            
            <div id="files_div">
                <h1>文件列表</h1>
                <div id="files_button_div">
                    <button id="deleteFile_button">删除</button>
                    <button id="selectallFile_button">全选</button>
                    <button id="downloadFile_button">下载</button>
                </div>
                <div id="files_list_div">
                    <ul id="files_ul"></ul>
                </div>
            </div>
            
            <div id="file_preview_div">
                <h1>词云预览</h1>
                <div id="file_preview_button_div">
                    <button id="last_button">上一张</button>
                    <button id="next_button">下一张</button>
                </div>
                <canvas id="wordcloud_canvas"></canvas>
            </div>

            <!-- 全局状态弹窗 -->
            <div id="status_popup_div">
                <label id="status_popup_label">helloworld!</label>
            </div>

        </div>

    </body>
    <script src="{% static 'js/word_cloud_index.js' %}"></script>
</html>