/* 何恺悦 hekaiyue 2023-07-19 */

#files_list_div, #settings_switch_div {overflow: auto;}

/*左0 用户输入*/
#user_input_div {
    width: 30%; height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*左0上 输入文本*/
#text_div {
    width: 100%; height: 50%;
    background-color: var(--div_secondary);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#text_textarea {
    width: 100%; height: 100%;
    border-width: 1px;
}

/*左0下 全局设置*/
#settings_div {
    width: 100%; height: 50%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    box-sizing: border-box;
}
/*左0下左 用户词典*/
#user_dict_div {
    width: 50%; height: 100%;
    background-color: var(--div_secondary);
    border-right: 1px solid var(--div_border);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#user_dict_textarea {
    width: 100%; height: 100%;
    border-width: 1px;
}
/*左0下右 参数设置*/
#generate_settings_div {
    width: 50%; height: 100%;
    background-color: var(--div_secondary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#settings_switch_div {
    width: 100%; height: 100%;
    border-bottom: 1px solid var(--div_border);
}
#type_pure_div, #type_mask_div, #type_bg_div {
    width: 100%; height: 500px;
    display: none;
}
#type_pure_div {display: flex;}
#apply_generate_div {
    display: flex;
    flex-direction: row;
}
#apply_button, #generate_button{
    flex: 1;
    font-size: 20px;
    border-radius: 8px;
    border-width: 2px;
    font-weight: 800;
}

/*左1 文件列表*/
#files_div {
    width: 250px; height: 100%;
    background-color: var(--div_secondary);
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*左2 词云预览*/
#file_preview_div {
    flex: 1;
    width: 100%; height: 100%;
    background-color: var(--div_secondary);
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#wordcloud_div {
    width: 100%;
    height: 100%;
}
#wordcloud_canvas {
    width: 100%; height: 100%;
    background-color: var(--canvas_normal);
    display: flex;
    box-sizing: border-box;
}

h1 {
    margin: 10px 0px 10px 0px;    /* 上右下左 */
}
