/* 何恺悦 hekaiyue 2023-07-19 */
body, html {
    width: 100%; height: 100%;
    margin: 0px; padding: 5px;
    box-sizing: border-box;
}

#main_div {
    width: 100%; height: 100%;
    background-color: rgba(179, 197, 215, 1);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

#files_list_div, #settings_switch_div {overflow: auto;}

/*左0 用户输入*/
#user_input_div {
    width: 30%; height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*左0上 输入文本*/
#text_div {
    width: 100%; height: 50%;
    background-color: rgba(216, 225, 233, 0.8);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#text_textarea {
    width: 100%; height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: rgba(70, 70, 70, 1);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(179, 197, 215, 1);
    padding: 10px;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
}

/*左0下 全局设置*/
#settings_div {
    width: 100%; height: 50%;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    box-sizing: border-box;
}
/*左0下左 用户词典*/
#user_dict_div {
    width: 50%; height: 100%;
    background-color: rgba(216, 225, 233, 0.8);
    border-right: 1px solid rgba(179, 197, 215, 0.5);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#user_dict_textarea {
    width: 100%; height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: rgba(70, 70, 70, 1);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(179, 197, 215, 1);
    padding: 10px;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
}
/*左0下右 参数设置*/
#generate_settings_div {
    width: 50%; height: 100%;
    background-color: rgba(216, 225, 233, 0.8);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#settings_switch_div {
    height: 100%;
    border-bottom: 1px solid rgba(179, 197, 215, 0.5);
}
#type_pure_div, #type_mask_div, #type_bg_div {
    width: 100%;
}
#type_pure_div {display: flex;} #type_mask_div {display: none;} #type_bg_div {display: none;}
#apply_button, #generate_button{
    width: 100%;
    font-size: 20px;
    background-color: rgba(216, 225, 233, 1);
    border-radius: 8px;
    border: 2px solid rgba(179, 197, 215, 1);
    color: rgba(70, 70, 70, 1.0);
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}
#apply_button:hover, #generate_button:hover {
    background-color: rgba(179, 197, 215, 1);
    border: 2px solid rgba(117, 158, 184, 1);
}

/*左1 文件列表*/
#files_div {
    width: 250px; height: 100%;
    background-color: rgba(216, 225, 233, 0.8);
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*左2 词云预览*/
#file_preview_div {
    flex: 1;
    width: 100%; height: 100%;
    background-color: rgba(216, 225, 233, 0.8);
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#wordcloud_div {
    width: 100%;
    height: 100%;
}
#wordcloud_canvas {
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    box-sizing: border-box;
}














/* 全局状态弹窗 */
#status_popup_div {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    border-radius: 10px;
    top: 50%; left: 50%; width: 260px; height: 80px; transform: translate(-50%, -50%);
    justify-content: center; align-items: center;   /* x=0 ; y=0; */
    z-index: 2001;
}
#status_popup_label {
    color: rgba(60, 60, 60, 0.8);
    font-size: 20px;
    font-weight: bold;
}

/* 全局元素 */
input[type="number"] {
    /* flex: 1; */
    width: 60px;
    height: 25px;
    background-color: rgba(216, 225, 233, 1);
    border: 1px solid rgba(179, 197, 215, 1);
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}
ul {
    width: 100%;
    margin: 0px; padding: 0px;
    list-style-type: none; /* 移除列表项前面的黑点 */
}
li {
    display: flex;
    flex-grow: 1;
}
a {
    width: 100%;
    text-decoration: none; /* 移除链接的下划线 */
    color: rgba(70, 70, 70, 1.0); /* 设置文字颜色 */
}
li:hover {   /* li标签的移入动画 */
    background-color: rgba(179, 197, 215, 1);
    transition: background-color 0.2s ease;
}

h1 {
    color: rgba(60, 60, 60, 1.0);
}

button {
    font-size: 16px;
    background-color: rgba(216, 225, 233, 1);
    border-radius: 3px;
    border: 1px solid rgba(179, 197, 215, 1);
    color: rgba(70, 70, 70, 1.0);
    text-decoration: none;
    text-align: center;
}
button:hover {
    background-color: rgba(179, 197, 215, 1);
    border: 1px solid rgba(117, 158, 184, 1);
}

div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
div::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}
div::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; 
}
div::-ms-thumb {
    background-color: #ccc;
    border-radius: 8px;
}
div::-ms-thumb:hover {
    background-color: #aaa;
}
select {
    width: 100%;
    font-size: 20px;
    background-color: rgba(216, 225, 233, 1);
    border-radius: 8px;
    border: 2px solid rgba(179, 197, 215, 1);
    color: rgba(70, 70, 70, 0.9);
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}
option {
    font-size: 20px;
    background-color: rgba(216, 225, 233, 1);
    border-radius: 8px;
    border: 2px solid rgba(179, 197, 215, 1);
    color: rgba(70, 70, 70, 0.9);
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}
select:hover {
    background-color: rgba(179, 197, 215, 1);
    border: 2px solid rgba(117, 158, 184, 1);
}