/* 何恺悦 hekaiyue 2023-06-29 */

/* 上传窗 下载窗*/
#upload_div, #download_div{
    width: 500px; height: 300px;
    background-color: var(--div_secondary);
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#upload_url_textarea, #download_url_textarea {
    width: 100%; height: 100%;
    margin: 3px 0px 0px 0px;
}

button {
    font-size: 20px;
    border-radius: 8px;
    border-width: 2px;
    font-weight: 800;
}

h1 {
    margin: 0px 0px 10px 0px;    /* 上右下左 */
}
