/* 何恺悦 hekaiyue 2023-07-28 */

#commands_div {
    width: 70%; height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: auto;
}
.command_div {
    width: 100%; height: 150px;
    background-color: var(--div_secondary);
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.name_div {
    width: 25%; height: 100%;
    border-right: 1px solid var(--div_border);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}
.zh_name {
    color: var(--text_large);
    font-size: 40px;
    font-weight: 800;
}
.en_name {
    color: var(--text_large);
    font-size: 15px;
    font-weight: 800;
}
.line_div {
    flex: 1;
    align-items: center;    /* 垂直居中 */
    padding: 20px;
    display: flex;
    box-sizing: border-box;
}
.line {
    color: var(--text_middle);
    font-size: 25px;
    font-weight: 800;
}

#tip_div {
    background-color: var(--div_tertiary);
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
}
.tip_label {
    color: var(--text_small);
    font-size: 20px;
    font-weight: 800;
}
#tip_file_name_div {
    width: 500px;
    background-color: var(--div_tertiary);
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    position: absolute;
    z-index: 9999;
    display: none;
    box-sizing: border-box;
}
.tip_file_name_label {
    color: var(--text_small);
    font-size: 20px;
    font-weight: 800;
}

#apply_progress_div {
    position: absolute;
    flex-direction: column;
    background-color: var(--div_status);
    display: none;
    border-radius: 10px;
    top: 50%; left: 50%; width: 800px; height: 600px; transform: translate(-50%, -50%);
    padding: 10px 20px 20px 20px;
    z-index: 2001;
}
#apply_progress_textarea {
    width: 100%; height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: var(--text_small);
    background-color: var(--textarea_normal);
    border: 1px solid var(--textarea_normal_border);
    padding: 10px;
    border-radius: 10px;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
}
#apply_progress_textarea:focus {
    outline: none;
    background-color: var(--textarea_focus);
    border-color: var(--textarea_focus_border);
}

input {
    width: 130px; height: 32px;
    font-size: 26px;
    border-radius: 6px;
}

button {
    width: 130px; height: 35px;
    font-size: 22px;
    border-radius: 6px;
    font-weight: 600;
}
