/* 何恺悦 hekaiyue 2023-06-27 */
body, html {
    width: 100%; height: 100%;
    margin: 0px; padding: 5px;
    background-color: var(--div_body);
    user-select: none;  /* 全局屏蔽文本选中动作 */
    box-sizing: border-box;
}

#main_div {
    width: 100%; height: 100%;
    background-color: var(--div_main);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

/* 左012 列表滚动条 */
#folders_list_div, #files_list_div, #items_list_div {overflow: auto;}

/*左0 文件夹列表*/
#folders_div{
    width: 500px; height: 100%;
    background-color: var(--div_secondary);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*左1 文件列表*/
#files_div{
    width: 500px; height: 100%;
    background-color: var(--div_secondary);
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* 左2 剩余部分 */
#operation_div {
    width: 100%; height: 100%;
    margin-left: 20px;
    border-radius: 20px;
    padding: 0px;;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
/* 左20 元素 */
#items_div {
    width: 200px; height: 100%;
    background-color: var(--div_secondary);
    border-right: 1px solid var(--div_border);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* 左21 绘制 */
#frame_draw_div {
    height: 100%;
    border-right: 1px solid var(--div_border);
    background-color: var(--div_secondary);
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#frame_draw_canvas_div {
    position: relative;
    width: 640px; height: 640px;
}
/* 绘制层叠div */
#frame_div {z-index: 0;}
#draw_div {z-index: 1;}
#draw_event_div {z-index: 1000;}
#current_information_div {
    width: 640px; height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
#current_information_textarea {
    width: 100%; height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: var(--text_small);
    background-color: var(--textarea_normal);
    border: 1px solid var(--textarea_normal_border);
    padding: 10px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}
#current_information_textarea:focus {
    outline: none;
    background-color: var(--textarea_focus);
    border-color: var(--textarea_focus_border);
}
textarea::-webkit-scrollbar {
    width: 0px;
}

/* 左22 剩余部分 */
#rest_rest_div {
    flex: 1;
    height: 100%;
    background-color: var(--div_secondary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* 二级窗口 */
.popup_title {  /* 仿<h3> */
    color: var(--text_large);
    font-size: 1.5rem;
    font-weight: bold;
}
#popup_div {
    position: absolute;
    top: 50%; left: 50%; width: 640px; height: 640px; transform: translate(-50%, -50%);
    display: none;
    justify-content: center; align-items: center;   /* x=0 ; y=0; */
    z-index: 2000;
}
#create_folder_popup_div {
    width: 300px; height: 80px;
    position: relative;
    background-color: var(--div_popup);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
#upload_file_popup_div {
    width: 300px; height: 620px;
    position: relative;
    background-color: var(--div_popup);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
#upload_list_div {
    position: relative;
    width: 100%; height: 100%;
    overflow: auto;
}
#download_file_popup_div {  /* 下载文件 */
    width: 300px; height: 80px;
    position: relative;
    background-color: var(--div_popup);
    display: none;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

/* 全局状态弹窗 */
#status_popup_div {
    position: absolute;
    background-color: var(--div_status);
    display: none;
    border-radius: 10px;
    top: 50%; left: 50%; width: 260px; height: 80px; transform: translate(-50%, -50%);
    justify-content: center; align-items: center;   /* x=0 ; y=0; */
    z-index: 2001;
}
#status_popup_label {
    color: var(--text_large);
    font-size: 20px;
    font-weight: bold;
}

#frameCanvas {
    width: 640px; height: 640px;
    background-color: var(--canvas_normal);
}

/* 全局元素 */
ul {
    margin: 0px; padding: 0px;
    list-style-type: none; /* 移除列表项前面的黑点 */
}
li {
    display: flex;
    background-color: var(--li_normal);
}
a {
    width: 100%;
    text-decoration: none; /* 移除链接的下划线 */
    color: var(--text_small); /* 设置文字颜色 */
}
li:hover {   /* li标签的移入动画 */
    background-color: var(--li_hover);
    transition: background-color 0.2s ease;
}

h1 {
    color: var(--text_large);
}

button {
    font-size: 16px;
    background-color: var(--button_normal);
    border-radius: 3px;
    border: 1px solid var(--button_normal_border);
    color: var(--text_small);
    text-decoration: none;
    text-align: center;
}
button:hover {
    background-color: var(--button_hover);
    border: 1px solid var(--button_hover_border);
}

div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
div::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar_normal);
    border-radius: 8px;
}
div::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar_hover); 
}
div::-ms-thumb {
    background-color: var(--scrollbar_normal);
    border-radius: 8px;
}
div::-ms-thumb:hover {
    background-color: var(--scrollbar_hover);
}
