/* 何恺悦 hekaiyue 2023-06-27 */

/* 左012 列表滚动条 */
#folders_list_div, #files_list_div, #items_list_div {overflow: auto;}

/*左0 文件夹列表*/
#folders_div{
    width: 500px; height: 100%;
    background-color: var(--div_secondary);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/*左1 文件列表*/
#files_div{
    width: 500px; height: 100%;
    background-color: var(--div_secondary);
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* 左2 元素|绘制|剩余 */
#operation_div {
    width: 100%; height: 100%;
    margin-left: 20px;
    border-radius: 20px;
    padding: 0px;;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
/* 左20 元素 */
#items_div {
    width: 200px; height: 100%;
    background-color: var(--div_secondary);
    border-right: 1px solid var(--div_border);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* 左21 绘制 */
#frame_draw_div {
    height: 100%;
    background-color: var(--div_secondary);
    border-right: 1px solid var(--div_border);
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#frame_draw_canvas_div {    /* 所有canvas都堆在这个div中 */
    width: 640px; height: 640px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}
#frame_div {
    width: 100%; height: 100%;
}
#frame_div {z-index: 0;}
#draw_div {z-index: 1;}
#draw_event_div {z-index: 1000;}
#frameCanvas {
    width: 100%; height: 100%;
    background-color: var(--canvas_normal);
}

#current_information_div {
    width: 640px; height: 100%;
    flex: 1;
    flex-direction: row;
    box-sizing: border-box;
}
#current_information_textarea {
    width: 100%; height: 100%;
}

/* 左22 剩余部分 */
#rest_rest_div {
    flex: 1;
    height: 100%;
    background-color: var(--div_secondary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* 弹出操作窗口 */
#create_folder_popup_div {  /* 创建文件夹 */
    width: 300px;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--div_border);
    background-color: var(--div_custom_popup);
    display: none;
    flex-direction: column;
    padding: 10px;
}
#create_folder_input {
    margin-top: 20px;
    width: 100%; height: 35px;
}
#create_folder_popup_btn_div {
    margin-top: 5px;
}
#upload_file_popup_div {    /* 上传文件 */
    width: 300px;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--div_border);
    background-color: var(--div_custom_popup);
    display: none;
    flex-direction: column;
    padding: 10px;
}
#upload_list_div {
    position: relative;
    width: 100%; height: 500px;
    overflow: auto;
}
#upload_file_popup_btn_div {
    margin-top: 5px;
}
#download_file_popup_div {  /* 下载文件 */
    width: 300px;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--div_border);
    background-color: var(--div_custom_popup);
    display: none;
    flex-direction: column;
    padding: 10px;
}
#download_file_popup_btn_div {
    margin-top: 5px;
}
#origin_frame_label, #drawn_frame_label, #drawings_label {
    color: var(--text_small);
    font-size: 18px;
    font-weight: 800;
}

h1 {
    margin: 10px 0px 20px 0px;      /* 上右下左 */
}
h2 {
    margin: 10px 0px 0px 0px;       /* 上右下左 */
}